@import url("whitespace-reset.css");

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: normal 14px "Helvetica Neue", Arial,Helvetica ,sans-serif;
}

.cf:after {
  display: block;
  content: "";
  clear: both;
}

header {
  padding: 5px;
  background: darkgreen;
  text-align: center;
}

header nav.leftnav {
  float: left;
}

header nav.rightnav {
  float: right;
}

nav div, button {
  vertical-align: top;
  color: #ffffff;
  display: inline-block;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 16px;
}

header h1 {
  display: inline;
  color: #ffffff;
  font-size: 24px;
}

.leftnav > button span {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 0 0 30px;
  background: url("../images/trello.png") 0 1px no-repeat;
  background-size: 25px;
  height: 100%;
}

.leftnav input[type="search"] {
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 100%;
  border: none;
}

.leftnav .search span {
  float: right;
  height: 30px;
  width: 30px;
  background: url("../images/magnifying-glass.png") 0 0 no-repeat;
}
