doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          // this will output each link
          each link in links
            li
              if link.active
                a.active(href="#{link.href}")= link.title
              else
                a(href="#{link.href}")= link.title

    block content
