<form action="/cards" method="put">
  <textarea name="description" placeholder="Add a more detailed description">{{description}}</textarea>

  <input type="submit" value="Save"> 
  <a href="#" class="close"></a>
</form>