<aside id="dashboard">
  <h2>{{board_name}}</h2>
  <input type="button" id="favorite">
  <input type="button" id="private" value="Private">
  <input type="button" id="show_menu" value="Show Menu">
</aside>

<ol id="lists">

  <li id="add_list">
    <input type="button" value="Add a list...">
  </li>    
</ol>

