<a href="#" class="close"></a>
<h5>Change Due Date</h5>
<dl>
  <dt>Date</dt>
  <dd><input type="text" id="date_input" value={{parseDate date}}></dd>
</dl><!--
--><dl>
  <dt>Time</dt>
  <dd><input type="text" id="time_input" value={{parseTime date}}></dd>
</dl>

<div id="datepicker"></div>

<input type="button" value="Save" class="submit">
<input type="button" value="Remove" class="delete">
