<nav>
  <input type="button" id="board" value="Boards">
  <input type="text" id="search_card">
</nav>

<h1>Trello</h1>

<nav>
  <input type="button" id="add_board">
  <input type="button" id="information">
  <input type="button" id="notification">
  <input type="button" id="user">
</nav>