<a href="#" class="back"></a>
<a href="#" class="close"></a>
<form action="#" method="post">
  <h5>Create Label</h5>
  <dl>
    <dt><label>Name</label></dt>
    <dd><input type="text" name="title"></dd>
  </dl>

  <dl>
    <dt>Select a color</dt>
    <dd>
      <ul>
        <li>
          <label style="background: red;">
            <input type="radio" name="colors" value="red">
          </label>
        </li>

        <li>
          <label style="background: green;">
            <input type="radio" name="colors" value="red">
          </label>
        </li>

        <li>
          <label style="background: purple;">
            <input type="radio" name="colors" value="red">
          </label>
        </li>

        <li>
          <label style="background: blue;">
            <input type="radio" name="colors" value="blue">
          </label>
        </li>

      </ul>
    </dd>
  </dl>

  <input type="submit" value="Create">
</form>
