@import url("whitespace-reset.css");

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a { 
  color: inherit;
}

body {
  font: normal 14px "Helvetica Neue", Arial, Helvetica ,sans-serif;
}

.cf:after {
  display: block;
  content: "";
  clear: both;
}

.header {
  text-align: center;
  background: darkgreen;
  height: 40px;
  padding: 5px 5px;
  color: #ffffff;
}

.header li,
.header h1,
.header input {
  display: inline-block;
  vertical-align: top;
}

.leftnav {
  float: left;
}

.rightnav {
  float: right;
}

.header li,
.header ul,
.header button,
.header input {
  height: 100%;
}

.header h1 {
  font-size: 28px;
  padding-left: 35px;
  background: transparent url('../images/trello.png') 5px 5px no-repeat;
  background-size: 20px;
}

.header li {
   background: rgba(255,255,255,0.3); 
}

.header button {
  -webkit-appearance: none;
  color: #ffffff;
  border: none;
}

.leftnav input[type="text"] {
   background: rgba(255,255,255,0.3);
   border: none; 
}

.leftnav input + span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: transparent url('../images/magnifying-glass.png') 5px 5px no-repeat;
  background-size: 20px;  
}

.leftnav li,
.rightnav li {
  margin-right: 5px;
}

.leftnav li:first-child button {
  padding-left: 30px;
  background: transparent url('../images/trello.png') 5px 5px no-repeat;
  background-size: 20px;
}

.rightnav li:first-child button {
  background: transparent url('../images/add.png') 5px 5px no-repeat;
}

.rightnav li:nth-child(2) button {
  background: transparent url('../images/information-button.png') 5px 5px no-repeat;
}

.rightnav li:nth-child(3) button {
  background: transparent url('../images/notifications-bell.png') 5px 5px no-repeat;
}

.rightnav li:last-child button {
  background: transparent url('../images/user.png') 5px 5px no-repeat;
}

.rightnav li:first-child button,
.rightnav li:nth-child(2) button,
.rightnav li:nth-child(3) button,
.rightnav li:last-child button {
  width: 30px;
  background-size: 20px;
}


/*******************/

main {
  background: green;
  padding: 10px 25px;
  height: 100vh;
}

.dashboard h2,
.dashboard button {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}

.dashboard h2 {
  font-size: 20px;
}

.dashboard button:first-of-type {
  width: 30px;
  height: 30px;
  border: none;
  -webkit-appearance: none;
  background: url("../images/star.png") 10px 6px no-repeat;
  background-size: 15px;
}

.dashboard button:nth-of-type(2) {
  width: 30px;
  height: 30px;
  padding-left: 35px;
  border: none;
  -webkit-appearance: none;
  background: url("../images/briefcase.png") 10px 6px no-repeat;
  background-size: 15px;  
}

.dashboard button:nth-of-type(3) {
  float: right;
  text-decoration: underline;
  width: 105px;
  height: 30px;
  padding-left: 35px;
  border: none;
  -webkit-appearance: none;
  background: url("../images/more.png") 10px 6px no-repeat;
  background-size: 15px;  
}

/**********/

.lists > ol {
  float: left;
}

.list,
.add_list {
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  width: 270px;
  padding: 5px;
  background: #E2E4E6;
}

.add_list {
  background: rgba(0, 0, 0, 0.2);
  color: #cccccc;
  padding: 12px 8px;
}

.add_list:hover {
 background: rgba(0, 0, 0, 0.5); 
}

.list {
  margin-right: 10px;
}

.lists span.menu {
  float: right;
  width: 15px;
  height: 15px;
  background: url("../images/more.png") 2px 3px no-repeat;
  background-size: 10px;
}

.lists h3 {
  float: left;
}
 
.labels li {
  margin-right: 5px;
}

.cards > li {
  position: relative;
  background: #ffffff;
  padding: 5px;
  margin-top: 8px;
}

.cards > li:hover span.pencil {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background: url("../images/pencil.png") 0 0 no-repeat;
  background-size: 15px;
}

.cards > li:hover {
  background: #cccccc;
}

.cards h4 {
  font-weight: normal;
  margin: 5px 0;
}

.lists .labels li {
  display: inline-block;
  width: 40px;
  height: 8px;
  border-radius: 8px;
}

ul.status {
  margin: 5px 0;
}

.status li {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  padding: 1px 3px;
  margin: 0 5px;
}

.status li.subscribed {
  padding: 5px 8px;
  width: 10px;
  height: 20px;
  background: url("../images/eye.png") 3px 6px no-repeat;
  background-size: 10px;
}

.status li.schedule {
  border-radius: 6px;
  padding: 5px;
  height: 20px;
  padding-left: 20px;
  background: transparent url("../images/schedule.png") 3px 6px no-repeat;
  background-size: 10px;  
}

.status li.schedule.done {  
  background: lightgreen url("../images/schedule.png") 3px 6px no-repeat;
  background-size: 10px;  
}

.status li.schedule.past {  
  background: tomato url("../images/schedule.png") 3px 6px no-repeat;
  background-size: 10px;  
}

.status li.description {
  width: 15px;
  height: 20px;
  background: url("../images/menu.png") 3px 6px no-repeat;
  background-size: 10px;
}

.status li.comments {
  height: 20px;
  padding: 5px;
  padding-left: 20px;
  background: url("../images/dialog.png") 3px 6px no-repeat;
  background-size: 10px;
}

div.add_card {
  padding: 5px;
  margin: -5px;
  height: 30px;
  text-indent: 5px;
  color: #636060;
  margin-top: 8px;
}

div.add_card:hover {
  color: #ffffff;
  background: #706c6c;
  text-decoration: underline;
}

/***************/

.modal_cover {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.card_detail {
  display: none;
  width: 750px;
  background: #EDEFF0;
  position: absolute;
  z-index: 3;
  top: 50px;
  left: 50%;
  margin-left: -375px;
  padding: 10px;
}

.card_detail section + section{
  margin-top: 30px;
}

.card_detail > article {
  width: 75%;
  float: left;
}

.card_detail > nav {
  overflow: hidden;
}

.card_detail .info {
  color: #838c91;
  font-size: 14px;
}

.card_detail h4,
.card_detail h5 {
  font-size: 18px;
  text-indent: 30px;
}

.card_detail h4 {
  background: url("../images/tv.png") 0 0 no-repeat;
  background-size: 20px;
}

.card_detail .add_comment h5 {
  background: url("../images/dialog.png") 0 0 no-repeat;
  background-size: 20px;
}

.card_detail .comment h5 {
  background: url("../images/list.png") 0 0 no-repeat;
  background-size: 20px;
}

.card_detail p {
  text-indent: 30px;
}

.card_detail .footer a{
  padding: 0 5px;
}

.card_detail .labels {
  padding-left: 30px;
}

.card_detail h4,
.card_detail h5,
.card_detail p,
.card_detail .labels {
  margin-bottom: 10px;
}

.card_detail .labels li {
  display: inline-block;
  width: 40px;
  height: 30px;
  border-radius: 4px;
}

.card_detail .labels li + li {
  margin-left: 5px;
  padding-left: 30px;
}

.card_detail .add_labels {
  background: #706c6c url("../images/add.png") 12px 7px no-repeat;
  background-size: 15px;
}

.card_detail input[type="submit"] {
  margin-top: 10px;
  font-size: 14px;
  padding: 6px 10px;
  margin-left: 30px;
  display: block;
  background: green;
  color: #ffffff;
}

.card_detail textarea {
  width: 90%;
  padding: 5px;
  resize: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 30px;
}

.card_detail .user_img {
  width: 20px;
  height: 20px;
  background: url("../images/user.png") 0 0 no-repeat;
  background-size: 20px;
}

.comment p.content {
  display: inline-block;
  border: 1px solid #cccccc;
  margin-left: 30px;
  background: #ffffff;
  padding: 8px;
  text-indent: 0;
}

.card_detail nav {
  margin-top: 70px;
}

.card_detail .button {
  height: 30px;
  width: 165px;
  box-shadow: 0 1px 0 0 #C4C9CC;
  margin-bottom: 10px;
  padding: 5px 10px;
  padding-left: 30px;
  font-weight: bold;
  color: #444;
}



.button a {
  display: block;
}

.card_detail .label {
  background: #E2E4E6 url("../images/menu.png") 9px 9px no-repeat;
  background-size: 10px;
}

.card_detail .due {
  background: #E2E4E6 url("../images/schedule.png") 9px 9px no-repeat;
  background-size: 10px;
}

.card_detail .move {
  background: #E2E4E6 url("../images/right-arrow.png") 9px 9px no-repeat;
  background-size: 10px;
}

.card_detail .copy {
  background: #E2E4E6 url("../images/copy.png") 9px 9px no-repeat;
  background-size: 10px;
}

.card_detail .subscribe {
  background: #E2E4E6 url("../images/eye.png") 9px 9px no-repeat;
  background-size: 10px;
}

.card_detail .archive {
  background: #E2E4E6 url("../images/archive.png") 9px 9px no-repeat;
  background-size: 10px;
}

a.close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: url("../images/add.png") 0 0 no-repeat;
  background-size: 20px;
}

