include /_mixins

doctype html
html
  head
    title Sushi Restaurant Website
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    +stylesheet_link_tag("main")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")

  body
    header

    main
      block content

    +javascript_include_tag("application")
    +javascript_include_tag("models/menu")
    +javascript_include_tag("collections/menus", "collections/cart_items")
    +javascript_include_tag("views/index", "views/menu", "views/cart", "views/item", "views/header")
    script(type="text/javascript").
      App.menus = new Menus(!{JSON.stringify(menus)});
    +javascript_include_tag("router")
    footer