<header class="header cf">
  <ul class="leftnav">
    <li>
      <button>Boards</button>
    </li>
    <li>
      <input type="text" name=""><span></span>
    </li>
  </ul>

  <h1>Trello</h1>

  <ul class="rightnav">
    <li>
      <button></button>  
    </li>
    <li>
      <button></button>  
    </li>
    <li>
      <button></button>  
    </li>
    <li>
      <button></button>  
    </li>
  </ul>
</header>

<main>
  <section class="dashboard">
    <h2>Becoming a King</h2>
    <button></button>
    <button>Private</button>
    <button>Show Menu</button>
  </section>

  <section class="lists">
    <ol>
    </ol>

    <div class="add_list">Add a list...</div>
  </section>

</main>