<div class="label_panel popout">
  <h4>Labels</h4>
  <a href="#" class="close"></a>
  <input type="text" class="search_label">
  <ul class="label_choices">
    {{#each existing_colors}}
      <li>
        <div class="color_block" style="background: {{color}};">{{title}}</div>
        <div class="edit_color"></div>
      </li>
    {{/each}}
  </ul>

  <a href="#" class="new_label">Create a new label</a>

  <a href="#">Enable color blind friendly mode.</a>
</div>
           
