<div class="create_label popout">
  <h4>Create Label</h4>
  <a href="#" class="close"></a>
  <form method="post" action="/colors"> 
    <label for="name_label">Name</label>
    <input type="text" id="name_label" name="title">
    <label>Select a color</label>
    <ul>
      <li style="background-color: green">
        <label>
          <input type="radio" name="color" value="green">
          <span></span>
        </label>
      </li>
      <li style="background-color: red">
        <label>
          <input type="radio" name="color" value="red">
          <span></span>
        </label>
      </li>
      <li style="background-color: orange">
        <label>
          <input type="radio" name="color" value="orange">
          <span></span>
        </label>
      </li>
      <li style="background-color: blue">
        <label>
          <input type="radio" name="color" value="blue">
          <span></span>
        </label>
      </li>
      <li style="background-color: black">
        <label>
          <input type="radio" name="color" value="black">
          <span></span>
        </label>
      </li>
      <li style="background-color: purple">
        <label>
          <input type="radio" name="color" value="purple">
          <span></span>
        </label>
      </li>
    </ul>

    <input type="submit" value="Create">

  </form>
</div>  